@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
html, body {
    margin: 0;
  font-family: 'Dancing Script', cursive;
    background: black;
}

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
}

section {
    margin: 6vh;
    height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 13vh;
  line-height: .1;
}
h2 {
  font-size: 8vh;
  line-height: .1;
}
h3{
  font-size: 6vh;
  line-height: .1;
}
li {
    font-size: 4vh;
}
.home {
    background-image:url(img/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about {
    background-image: url(img/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.work {
    background-image: url(img/work.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text{
    text-align: center;
    margin-bottom: 13vh;
    text-shadow: .3vh .3vh white;
}
.welcome {
    animation: textone 3s linear;
}
.to {
    animation: texttwo 3s linear;
}
.header{
    animation: textthree 3s linear;
}
@keyframes textone {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
    100% {
    opacity: 1;
  }
}
@keyframes texttwo {
    0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
    100% {
    opacity: 1;
  }
}
@keyframes textthree {
    0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
    100% {
    opacity: 1;
  }
}

.navigation-block{
  
}

.hamberger-menu {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
    cursor: pointer;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: all 0.3s ease-out;
}

.bar.upper-bar {
  transform: translatey(-10px);
}

.bar.lower-bar {
  transform: translatey(10px);
}

.hamberger-menu,
.menu-list {
    margin: 2vh;
  position:absolute;
  z-index: 2;
}

.menu-list {
  display: none;
}

.menu-list > ul {
  list-style: none;
  margin-top: 20px;
}

.menu-list > ul > li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-bottom: solid 1px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.menu-list > ul > li a:hover {
    color: yellow;
  animation: linkAnimation 0.2s ease-out;
}

.menu-background {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: blueviolet;
  transform: translate(-100%, -100%);
  border-radius: 100%;
}

.navigation-block:hover .bar.upper-bar,
.navigation-block:hover .bar.lower-bar {
  transform: translatey(0px);
}

.navigation-block:hover .bar.upper-bar {
  transform: rotate(45deg);
}

.navigation-block:hover .bar.lower-bar {
  transform: rotate(-45deg);
}

.navigation-block:hover .bar.middle-bar {
  transform: translatex(-1000px);
}

.navigation-block:hover .menu-list {
  display: block;
}

.navigation-block:hover .menu-background {
  animation: bubblePresent 0.3s ease-out;
  transform: translate(-50%, -30%);
}

@keyframes linkAnimation {
  0% {
    /*transform: translateX(50px);*/
    transform: scale(1.1);
  }
  80% {
    /*transform: translateX(-10px);*/
    transform: scale(0.9);
  }
  100% {
    /*transform: translateX(0px);*/
    transform: scale(1);
  }
}

@keyframes bubblePresent {
  0% {
    transform: translate(-100%, -100%);
  }
  80% {
    transform: translate(-45%, -25%);
  }
  100% {
    transform: translate(-50%, -30%);
  }
}
