@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
	box-sizing:border-box;
	font-family: 'Oswald', sans-serif;
            
}
html{
    background: #EEEEEE;
}
    #hero{
    animation:g4 2s linear 1;
	display:flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    background: #fff;
    padding: 5vh;
}
		@keyframes g1{
			0%{
				opacity: 0;
			}
            20%{
				opacity: 1;
			}
		}
        @keyframes g2{
			0%{
				opacity: 0;
			}
            20%{
				opacity: 0;
			}
            40%{
				opacity: 1;
			}
		}
        @keyframes g3{
			0%{
				opacity: 0;
			}
            40%{
				opacity: 0;
			}
            60%{
				opacity: 1;
			}
		}
         @keyframes g4{
			0%{
				opacity: 0;
			}
            60%{
				opacity: 0;
			}
            80%{
                opacity: 1;
            }
		}

		#herocontent{
			margin-top: 5vh;
            margin-bottom: 5vh;
		}
        
        #welcome{
            animation:g1 2s linear 1;
        }
        #to{
            animation:g2 2s linear 1;
        }
        #name{
            animation:g3 2s linear 1;
            padding-bottom: 5vh;
        }
        #detail{
            animation:g4 2s linear 1;
        }
        #footer{
            animation:g4 2s linear 1;
            padding-bottom: 5vh;
        }

        h1, h2{
            text-align: center;
        }
		@keyframes sam{
			0%{
				background:#f00;
				color:#fff;
				transform:scale(1,1);
			}
			50%{
				background:#fff;
				color:#f00;
				transform:scale(.75,.75);
			}
			100%{
				background:#f00;
				color:#fff;
				transform:scale(1,1);
			}
		}
a{
    text-decoration: none;
    font-style: bold;
    color : black;
}
p{
    font-size: 5vh;
    padding: 5vh;
}
h4{
    font-size: 6vh;
}
h3{
    font-size: 7vh;
}
h2{
    font-size: 8vh;
}
h1{
    font-size: 10vh;
}
header{
    max-width: 100%;
    text-align: center;
}
#container{
    margin: 0 auto;
    padding-bottom: 5vh;
    justify-content: center;
	align-items: center;
    text-align: center;
    background: #fff;
}

#container:after{
	content:'';
	display:block;
	clear:both;
}
.col{
	float:left;
	background:#fff;
	padding:5px;
		}
img{
   width: 100%; 
}

.cor{
    float:right;
    background:#fff;
	padding:5vh;
}
.c33{
	width:33.333333%;
}

.c66{
	width:66.666667%;
}
ul{
    list-style: none;
    padding: 0px;
}
li{
    display: inline-block;
    margin: 0px;
    padding: 10vh;
    
}
nav{
    background: #b82837;
}
.tetopic{
    margin: 0 auto;
    width: 50vh;
    animation:g4 2s linear 1;
    border-radius: 50%;
}
footer{
    max-width: 100%;
    padding: 5vh;
    background: #b82837;
    text-align: center;
}